<%= link_to 'Back', 'javascript:history.go(-1);', class: "mx-3" %>

<h1>My impact:</h1>

<p>Brands shared:</p>
<p><%=@brands_shared%></p>
<p>Brands referred:</p>
<p><%=@brands_referred%></p>
<p>Friends referred</p>
<p><%=@friends_referred%></p>
<p>Total points:</p>
<p><%=@total_points %></p>
