<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo">
    <%= link_to root_url, class: "navbar-brand" do %>
    <i class="fas fa-globe-americas fa-2x"></i>
    <div class="style-in-peace">
      <div class="style"><%= "STYLE" %></div>
      <div class="peace"><%= "IN PEACE" %></div>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <div class="home">
      <i class="fas fa-home fa-sm"></i>
      <%= "Home" %>
    </div>
    <div class="explore">
      <i class="fas fa-compass fa-sm"></i>
      <%= "Explore" %>
    </div>
    <div class="locals">
      <i class="fas fa-map-marker-alt fa-sm"></i>
      <%= "Locals" %>
    </div>
    <div class="saved">
      <i class="fas fa-heart fa-sm"></i>
      <%= "Saved" %>
    </div>
    <div class="my-impact">
      <i class="fas fa-globe-americas fa-sm"></i>
      <%= "My Impact" %>
    </div>
  </div>
</div>
