<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo">
    <%= link_to root_url, class: "navbar-brand" do %>
    <i class="fas fa-globe-americas fa-2x"></i>
    <div class="style-in-peace">
      <div class="style"><%= "STYLE" %></div>
      <div class="peace"><%= "IN PEACE" %></div>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <div class="home">
      <p><a href="/"><i class="fas fa-home fa-sm"></i></a></p>
      <p><a href="/"><%= "Home" %></a></p>
    </div>
    <div class="explore">
      <p><a href="/brands/explore"><i class="fas fa-compass fa-sm"></i></a></p>
      <p><a href="/brands/explore"><%= "Explore" %></a></p>
    </div>

    <% if user_signed_in? %>
      <div class="locals">
        <p><a href="/brands/local"><i class="fas fa-map-marker-alt fa-sm"></i></a></p>
        <p><a href="/brands/local"><%= "Locals" %></a></p>
      </div>
      <div class="saved">
        <p><a href="/brands/saved"><i class="fas fa-heart fa-sm"></i></a></p>
        <p><a href="/brands/saved"><%= "Saved" %></a></p>
      </div>
      <div class="my-impact">
        <p><a href="/my_impact"><i class="fas fa-globe-americas fa-sm"></i></a></p>
        <p><a href="/my_impact"><%= "My Impact" %></a></p>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
