<div data-controller="search-brands-list">
  <%= form_tag(explore_brands_path, method: 'get', class: "form-inline") do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search brand",
      data: {
        action: "click->search-brands-list#displayBrands"
      }
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="d-none" data-search-brands-list-target="list">
    <% @brands.each do |brand| %>
      <% if brand.eco? %>
        <%= link_to "#{brand.name}", ecofriendly_brand_path(brand), class: "dropdown-item" %>
      <% else %>
        <%= link_to "#{brand.name}", naughty_brand_path(brand), class: "dropdown-item" %>
      <% end %>
    <% end %>
  </div>
</div>
