<h1>🌎 Style in Peace 🌎</h1>

<p>TODO: Search</p>

<div class='container'>
  <div>
    <h2>New eco-brands on the block</h2>
    <div class='d-flex flex-wrap'>
      <% @new_brands.first(10).each do |brand| %>
        <div class="TODO-CARDS-scss w-25">
          <img src="<%= brand.splash_image %>" alt="">
          <p><strong><%= brand.name %></strong></p>
          <p> <%= '🌎' * brand.average_rating %></p>
          <p> <%= '£' * brand.price_category %></p>
          <p> <em><%= brand.style %></em></p>
          <%= link_to 'view', ecofriendly_brand_path(brand) %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <h2>Eco-brands for you</h2>
    <div>
      <% if current_user %>
        <% @recommended_brands.first(10).each do |brand| %>
          <h3><%= brand.name %></h3>
          <p><%= '🌎' * brand.average_rating %></p>
          <p> <%= '£' * brand.price_category %></p>
          <p> <em><%= brand.style %></em></p>
          <%= link_to 'view', ecofriendly_brand_path(brand) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





<p>TODO: Footer</p>
