<%= render 'shared/navbar_transparent' %>
<div class="hero">
    <h2>How eco-friendly are the brands you shop with?</h2>
    <div class="search" data-controller="search-brands-list">
      <%= render 'search' %>
      <%= render 'list' %>
    </div>
</div>

<div class="home-container">
  <div class='scroll'>
    <h2>New eco-brands on the block</h2>
    <div class='row'>
      <% @new_brands.first(10).each do |brand| %>
        <div style="width: 300px;">
          <%= render 'brands/card_improved', brand: brand %>
        </div>
      <% end %>
    </div>
  </div>

  <% if current_user %>
    <div class='scroll'>
      <h2 class="mt-0">Eco-brands for you</h2>
      <% if @recommended_brands.empty? %>
        <p>Sorry, we don't have any brands that match your criteria.</p>
      <% else %>
        <div class='row'>
          <% @recommended_brands.first(10).each do |brand| %>
            <div style="width: 300px;">
              <%= render 'brands/card_improved', brand: brand %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
