<div class="accordion" id="accordionExample">

  <%# First collapsable - Impact - default visible %>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button id="measure-button" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Impact
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div id="all-measures" class="card-body">
        <div id="measure-descriptions" class="d-flex">
          <p><%= "Earth" %></p>
          <p><%= "People" %></p>
          <p><%= "Animals" %></p>
          <p><%= "Materials" %></p>
        </div>
        <div id="measures" class="d-flex">
          <p>
            <div class="earth-rating">
              <% @brand.rating_earth.times do %>
                <i class="fas fa-globe-americas mx-1 mt-2">  </i>
              <% end %>
              <% (5 - @brand.rating_earth).times do %>
                <i style="color: grey" class="fas fa-globe-americas mx-1 mt-2">  </i>
              <% end %>
            </p>
          </div>
          <div class="people-rating">
            <p>
              <% @brand.rating_people.times do %>
                <i class="fas fa-user mx-1 mt-2">  </i>
              <% end %>
              <% (5 - @brand.rating_people).times do %>
                <i style="color: grey" class="fas fa-user mx-1 mt-2">  </i>
              <% end %>
            </p>
          </div>
          <div class="animals-rating">
            <p>
              <% @brand.rating_animals.times do %>
                <i class="fas fa-paw mx-1 mt-2">  </i>
              <% end %>
              <% (5 - @brand.rating_animals).times do %>
                <i style="color: grey" class="fas fa-paw mx-1 mt-2">  </i>
              <% end %>
            </p>
          </div>
          <div class="materials-rating">
            <p>
              <% @brand.rating_materials.times do %>
                <i class="fas fa-recycle mx-1 mt-2">  </i>
              <% end %>
              <% (5 - @brand.rating_materials).times do %>
                <i style="color: grey" class="fas recycle mx-1 mt-2">  </i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Collapsable 2 - Why we love them - default hidden %>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button id="measure-button" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Why we love them
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p><%= @brand.why_we_love_them %></p>
      </div>
    </div>
  </div>

  <%# Collapsable 3 - About - default hidden %>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button id="measure-button" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          About
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p><%= @brand.about %></p>
      </div>
    </div>
  </div>

  <%# Collapsable 4 - Location - TODO MAP - default hidden %>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button id="measure-button" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Location
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p><%= @brand.address %></p>
      </div>
    </div>
  </div>
</div>
