<%= link_to 'javascript:history.go(-1);' do %>
  <button class="icon-btn">
    <i class="fas fa-chevron-left"></i>
  </button>
<% end %>


<div class="container">

  <div class="d-flex justify-content-center">

    <div class= "slideshow">
      <%= render 'slideshow', brand: @brand %>
    </div>

    <div class="px-3 mt-3 w-50 mx-3">
      <div >
        <h2><%= @brand.name %></h2>
      </div>
      <div class="d-flex">
          <% @brand.average_rating.times do %>
            <i class="fas fa-globe-americas mx-1 mt-2">  </i>
          <% end %>
      </div>

      <div class="mt-3">
        <%= render 'ecofriendly_accordian', locals: { brand: @brand } %>
      </div>

      <div>
        <a target ="_blank" class="primary-btn" href="<%= @brand.website_url %>">Visit <%= @brand.name %></a>
      </div>
      <div>
        <% if current_user %>
          <% unless current_user.brands.include?(@brand)%>
            <%= simple_form_for @brand, url: save_path, method: :post do |f| %>
              <%= f.hidden_field :brand_id, value: @brand.id %>
              <%= button_tag type: 'submit', class: "icon-text-btn" do %>
                <i class="fas fa-heart btn-item"></i>               Save
              <% end %>
              <%# = f.submit "Save", class: "icon-text-btn" REMOVE THIS LINE AFTER TESTING %>
            <% end %>
          <% end %>
        <% else %>
          <%= simple_form_for @brand, url: save_path, method: :post do |f| %>
              <%= f.hidden_field :brand_id, value: @brand.id %>
              <%= button_tag type: 'submit', class: "icon-text-btn" do %>
                <i class="fas fa-heart"></i>               Save
              <% end %>
              <%#= f.submit "Save", class: "icon-text-btn" REMOVE THIS LINE AFTER TESTING %>
            <% end %>
        <% end %>

        <%# TODO : Share link %>
        <button class="icon-text-btn" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-share"></i>               Share
        </button>
      </div>
    </div>
  </div>

  <%# Share modal %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-sm">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Media</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= social_share_button_tag(@brand.name, allow_sites: %w[twitter facebook pinterest email
                                                                whatsapp_app]) %>
        </div>
      </div>
    </div>
  </div>

  <%# TODO: Card component scss %>
  <% if current_user %>
    <div class="similar-brands mt-3">
      <h3>Similar eco-brands brands for you</h3>
      <div class="card-container d-flex flex-wrap justify-content-center">
        <% @suggested_brands.first(10).each do |brand| %>
          <div data-controller="brand-card">
            <div data-action="mouseenter->brand-card#changeCard mouseleave->brand-card#changeCardBack">
              <div data-brand-card-target="card">
                <%= render 'brands/simple_card', brand: brand %>
              </div>
              <div class='d-none' style="width: 300px; height: auto;" data-brand-card-target="info">
                <%= render 'brands/info_card', brand: brand  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
