<%= link_to 'Back', 'javascript:history.go(-1);', class: "mx-3" %>

<div class="container">

  <div class="d-flex justify-content-center">

    <div class= "slideshow">
      <%= render 'slideshow', locals: { brand: @brand } %>
    </div>

    <div class="px-3 mt-3 w-50 mx-3">
      <div >
        <h2><%= @brand.name %></h2>
      </div>
      <div class="d-flex">
          <% @brand.average_rating.times do %>
            <i class="fas fa-globe-americas mx-1 mt-2">  </i>
          <% end %>
      </div>

      <div class="mt-3">
        <%= render 'ecofriendly_accordian', locals: { brand: @brand } %>
      </div>

      <div>
        <a target ="_blank" class="primary-btn" href="<%= @brand.website_url %>">Visit <%= @brand.name %></a>
      </div>
      <div>
        <% if current_user %>
          <% unless current_user.brands.include?(@brand)%>
            <%= simple_form_for @brand, url: save_path, method: :post do |f| %>
              <%= f.hidden_field :brand_id, value: @brand.id %>
              <%= f.submit "Save", class: "btn" %>
            <% end %>
          <% end %>
        <% else %>
          <%= simple_form_for @brand, url: save_path, method: :post do |f| %>
              <%= f.hidden_field :brand_id, value: @brand.id %>
              <%= f.submit "Save", class: "btn" %>
            <% end %>
        <% end %>

        <%# TODO : Share link %>
        <a class="btn" href="#">Share</a>
      </div>
    </div>
  </div>

  <%# TODO: Card component scss %>
  <div class="similar-brands mt-3">
    <h3>Similar eco-brands brands for you</h3>
    <div class="card-container d-flex flex-wrap justify-content-center">
      <% @suggested_brands.first(10).each do |brand| %>
        <div class="card w-25 m-2">
          <img src="<%= brand.splash_image %>" alt="splash" class="img-thumbnail">
          <%= link_to "#{brand.name}", ecofriendly_brand_path(brand)%>
        </div>
      <% end %>
    </div>
  </div>
</div>
