<%= render 'shared/navbar' %>

<div class="mt-5">
  <div class="page-layout-with-back-btn">
    <div class="back-btn-container">
      <%= link_to 'javascript:history.go(-1);' do %>
        <button class="icon-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
      <% end %>
    </div>

    <div class="container" data-controller="notification">
      <h1>Explore eco-brands</h1>

      <!-- Modal -->
      <div class="modal fade" id="suggestBrandModal" tabindex="-1" aria-labelledby="suggestBrandModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Suggest a brand</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for(@brand) do |f| %>
                <%= f.input :name, label: "Brand name" %>
                <%= f.input :website_url, label: "Website"%>
                <%= f.input :style, collection: %w[modern outdoor minimalist retro boujie arty scandinavian grunge formal lounge boho] %>
                <button class="simple-text-btn" data-dismiss="modal" aria-label="Close" data-notification-target="submit" data-action="click->notification#showSuccessPopup">
                  <%= f.submit "Send brand suggestion", class: "submit-btn" %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%# hello popup %>
      <% if current_user.brands_referred == nil || current_user.brands_referred == 0 %>
        <div class="explore-notif"  data-notification-target="helloPopup">
            <div class="message">
              <p><strong>Hey <%= current_user.first_name.capitalize %></strong><br>Did you know that you can boost your impact by suggesting some world-saving brands?</p>
            </div>
          <div class="buttons">
            <button class="exit-btn"><i class="fas fa-times" data-action="click->notification#hideHelloPopup"></i></button>
              <button class="simple-text-btn" data-toggle="modal" data-target="#suggestBrandModal" data-action="click->notification#hideHelloPopup">
                Suggest brand <i class="fas fa-arrow-right"></i>
              </button>
          </div>
        </div>
      <% end %>

      <%# success popup %>
      <div class="explore-notif d-none" id="success-notif" data-notification-target="successPopup">
        <div class="message">
          <p><strong>Thank you</strong><br>A member of the Style in Peace team will look into the impact of your brand suggestion soon!</p>
        </div>
        <div class="buttons">
          <button class="exit-btn" data-action="click->notification#hideSuccessPopup"><i class="fas fa-times"></i></button>
        </div>
      </div>


      <div class="mytabs">
        <input type="radio" id="tabfree" name="mytabs" checked="checked">
        <label class = "tabs" for="tabfree">Brands</label>
        <div class="tab p-0 search" data-controller="search-brand-cards">
          <%= render 'search_ecobrand' %>
          <%= render 'brands_list', brands: @brands %>
        </div>
        <input type="radio" id="tabsilver" name="mytabs">
        <label class = "tabs" for="tabsilver">News</label>
        <div class="tab p-0 search" data-controller="search-news">
          <%= render 'search_news' %>
          <%= render 'news_list', newsarticles: @newsarticles %>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
      <%# <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Thanks for sending a brand!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>A member of the Style in Peace team will check out the impact of this brand!</p>
            </div>
          </div>
        </div>
      </div> %>
