<%= render 'shared/navbar' %>

<div class="mt-5">
  <div class="page-layout-with-back-btn">
    <div class="back-btn-container">
      <%= link_to 'javascript:history.go(-1);' do %>
        <button class="icon-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
      <% end %>
    </div>

    <div class="container">
      <h1>Explore eco-brands</h1>

      <div class="explore-notif">
        <div class="message">
          <p>Hello <%= current_user.first_name.capitalize %> <br>We are always looking to list new eco-firendly brands. If you know any eco-friendly brands let us know and boost your impact!</p>
        </div>
        <div class="buttons">
          <button class="exit-btn"><i class="fas fa-times"></i></button>
          <%= link_to brands_path do %>
            <button class="simple-text-btn">
              Suggest brand <i class="fas fa-arrow-right"></i>
            </button>
          <% end %>
        </div>
      </div>

      <div class="mytabs">
        <input type="radio" id="tabfree" name="mytabs" checked="checked">
        <label for="tabfree">Brands</label>
        <div class="tab p-0 search" data-controller="search-brand-cards">
          <%= render 'search_ecobrand' %>
          <%= render 'brands_list', brands: @brands %>
        </div>
        <input type="radio" id="tabsilver" name="mytabs">
        <label for="tabsilver">News</label>
        <div class="tab p-0 search" data-controller="search-news">
            <%= render 'search_news' %>
            <%= render 'news_list', newsarticles: @newsarticles %>
      </div>
    </div>
  </div>
</div>
