<%= link_to 'javascript:history.go(-1);' do %>
  <button class="icon-btn">
    <i class="fas fa-chevron-left"></i>
  </button>
<% end %>

<div class="container">
  <h1>Explore eco-brands</h1>

  <div class="mytabs">
    <input type="radio" id="tabfree" name="mytabs" checked="checked">
    <label for="tabfree">Brands</label>
    <div class="tab">
      <h2>Brands</h2>
        <div class="d-flex flex-wrap justify-content-center">
          <% @brands.each do |brand| %>
            <div class="w-25 mx-1 mt-2">
              <img class= "img-thumbnail" src="<%=brand.splash_image%>" alt="">
              <h2><%=brand.name%></h2>
              <p><%= '£' * brand.price_category%></p>
              <p> <%= '⭐️' * brand.average_rating %></p>
              <%= link_to 'view', ecofriendly_brand_path(brand) %>
            </div>
          <% end %>
      </div>
    </div>
    <input type="radio" id="tabsilver" name="mytabs">
    <label for="tabsilver">News</label>
        <div class="tab">
          <h2>News</h2>
            <%@newsarticles.each do |news|%>
              <%=news.image%>
              <h2><%=news.title%></h2>
              <p><%=news.blurb%></p>
              <p><%=news.url%></p>
              <p><%=news.date%></p>
            <% end %>
        </div>
    <%= link_to brands_path do %>
      <button class="btn btn-outline-secondary">
        <i class="fas fa-plus"></i>  Add a brand
      </button>
    <% end %>
  </div>
</div>
