<%= render 'shared/navbar' %>

<div class="mt-5">
  <div class="page-layout-with-back-btn">
    <div class="back-btn-container">
      <%= link_to 'javascript:history.go(-1);' do %>
        <button class="icon-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
      <% end %>
    </div>

    <div class="container">
      <h1>Explore eco-brands</h1>
      
      <%= link_to brands_path do %>
        <button class="btn btn-outline-secondary">
          <i class="fas fa-plus"></i>  Add a brand
        </button>
      <% end %>
    
      <div class="mytabs">
        <input type="radio" id="tabfree" name="mytabs" checked="checked">
        <label for="tabfree">Brands</label>
        <div class="tab p-0 search row" data-controller="search-brand-cards">
          <%= render 'search' %>
          <%= render 'brands_list', brands: @brands %>
        </div>
        <input type="radio" id="tabsilver" name="mytabs">
        <label for="tabsilver">News</label>
        <div class="tab p-0">
            <div class="d-flex flex-wrap">
              <% @newsarticles.each do |news| %>
                <div>
                    <div style="width: 300px; height: auto;">
                      <%= render 'brands/news_card', news: news %>
                    </div>
                </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
