<%= render 'shared/navbar' %>

<div class="mt-5">
  <div class="page-layout-with-back-btn">
    <div class="back-btn-container">
      <%= link_to 'javascript:history.go(-1);' do %>
        <button class="icon-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
      <% end %>
    </div>

    <div class="container">
      <div class="row mb-5">
        <div class = "slideshow col-6 h-75">
          <%= render 'news_slideshow', locals: { topnews: @topnews } %>
        </div>

        <div class="col-5">
          <div class="brand-show-header">
            <div class="mb-2">
              <h1 class="d-inline align-middle"><%= @brand.name %></h1>
              <span class="pill d-inline align-middle"><%= @brand.style.capitalize %> style</span>
              <span class="pill d-inline align-middle color-bad"><i class="far fa-thumbs-down"></i></span>

            </div>

            <div class="d-flex mb-3">
              <div class="d-flex">
                <% @brand.average_rating.times do %>
                  <i class="fas fa-globe-americas mx-1 mt-2">  </i>
                <% end %>
                <% (5 - @brand.average_rating).times do %>
                  <i style="color: grey" class="fas fa-globe-americas mx-1 mt-2">  </i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="mt-2">
            <%= render 'naughty_accordian', locals: { brand: @brand } %>
          </div>
        </div>
      </div>

      <div class="similar-brands mt-3">
        <h3>Similar eco-brands brands for you</h3>
        <div class="scroll p-0">
          <div class="row justify-content-start">
            <% @suggested_brands.first(10).each do |brand| %>
              <div style="width: 300px;">
              <%= render 'brands/card_improved', brand: brand %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
